{{ $page := . }}
{{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}

{{ $anchor := $page.Params.image.focal_point | default "Smart" }}

{{/* Set default titles for node pages */}}
{{ $title := .Title }}
{{ if and (not $title) .IsNode }}
  {{ if eq .Type "post" }}
    {{ $title = i18n "posts" }}
  {{ else if eq .Type "talk" }}
    {{ $title = i18n "talks" }}
  {{ else if eq .Type "publication" }}
    {{ $title = i18n "publications" }}
  {{end}}
{{end}}

<!-- {{/* Header image */}}
{{ if and .Params.header.image (not (and $featured (not .Params.image.preview_only))) }}
<div class="article-header">
  {{ $img_src := urls.Parse .Params.header.image }}
  {{ if $img_src.Scheme }}
  <img src="{{ .Params.header.image }}" class="article-banner" itemprop="image" alt="">
  {{ else }}
  <img src="{{ (printf "/img/%s" .Params.header.image) | relURL }}" class="article-banner" itemprop="image" alt="">
  {{ end }}

  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

{{/* Featured image */}}
{{ if and $featured (not .Params.image.preview_only) }}
{{ $image := $featured.Resize "800x" }}
<div class="article-header d-xl-none">
  <div class="featured-image" style="background-image: url('{{ $image.RelPermalink }}');"></div>
  {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>

{{ $image := $featured.Fill (printf "680x500 q90 %s" $anchor) }}
<div class="container-fluid split-header d-none d-xl-block">
  <div class="row">
    <div class="col-6">
      <div class="split-header-content">
        <h1 itemprop="name headline">{{ $title }}</h1>

        {{ with $page.Params.subtitle }}
        <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
        {{end}}

        {{ partial "page_metadata" (dict "content" $page "is_list" 0) }}

        {{ partial "page_links_div.html" $page }}

        {{ partial "share.html" $page }}
      </div>
    </div>
    <div class="col-6">
      <div class="split-header-image">
        <img src="{{ $image.RelPermalink }}" itemprop="image" alt="">
        {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
      </div>
    </div>
  </div>
</div>

<div class="article-container d-xl-none">
  <h1 itemprop="name headline">{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ partial "page_metadata" (dict "content" $page "is_list" 0 "share" true) }}
  {{ partial "page_links_div.html" $page }}
</div>
{{else}}
  {{/* Case when page has no image */}}

  {{/* Wider container for nodes */}}
  {{ $ctnr := "article-container" }}
  {{ if $page.IsNode }}
    {{ $ctnr = "universal-wrapper" }}
  {{end}}
<div class="{{$ctnr}} pt-3">
  <h1 itemprop="name headline">{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ if not .IsNode }}
    {{ partial "page_metadata" (dict "content" $page "is_list" 0 "share" true) }}
    {{ partial "page_links_div.html" $page }}
  {{end}}
</div>
{{end}} -->

{{/* Case when page has no image */}}

{{/* Wider container for nodes */}}
{{ $ctnr := "article-container" }}
{{ if $page.IsNode }}
  {{ $ctnr = "universal-wrapper" }}
{{end}}
<div class="{{$ctnr}} pt-3">
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ "/img/Angular-wiki-logo.png" | absURL }}">
        <meta itemprop="width" content="250">
        <meta itemprop="height" content="48">
      </div>
      <meta itemprop="name" content="Angular wiki">
    </div>
  <h1 itemprop="name headline">{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ if not .IsNode }}
    {{ partial "page_metadata" (dict "content" $page "is_list" 0 "share" true) }}
    {{ partial "page_links_div.html" $page }}
  {{end}}

  {{ if and $featured (not .Params.image.preview_only) }}
  {{ $image300 := $featured.Resize "300x" }}
  {{ $image400 := $featured.Resize "400x" }}
  {{ $image720 := $featured.Resize "720x" }}

  <div style="text-align:center">
      <picture>
          {{ if gt $featured.Width 720}}
          <!-- <source media="(min-width: {{$featured.Width}}px)" srcset="{{$featured.RelPermalink}}">   -->
          <source media="(min-width: 720px)" srcset="{{$image720.RelPermalink}}"> 
          <source media="(min-width: 400px)" srcset="{{$image400.RelPermalink}}">
          <source media="(min-width: 300px)" srcset="{{$image300.RelPermalink}}">
          {{end}}
          {{ if and (gt $featured.Width 400) (lt $featured.Width 720) }}
            <source media="(min-width: {{$featured.Width}}px)" srcset="{{$featured.RelPermalink}}">  
            <source media="(min-width: 400px)" srcset="{{$image400.RelPermalink}}">
            <source media="(min-width: 300px)" srcset="{{$image300.RelPermalink}}">
          {{end}}
          {{ if and (gt $featured.Width 300) (lt $featured.Width 400) }}
          <source media="(min-width: {{$featured.Width}}px)" srcset="{{$featured.RelPermalink}}">  
          <source media="(min-width: 300px)" srcset="{{$image300.RelPermalink}}">
          {{end}}
          {{if lt $featured.Width 300}}
          <source media="(min-width: {{$featured.Width}}px)" srcset="{{$featured.RelPermalink}}">  
          {{end}}
          <img src="{{ $featured.RelPermalink }}" alt="{{$.Params.image.caption}}" itemprop="image">
        </picture>
  </div>
  <br/>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- angular below title -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5168564215048853"
     data-ad-slot="2087237677"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  {{end}} 
</div>
<br/>
