<div id="mc_embed_signup">
Subscribe & Get free link to download 900+ material icons
<form id="mc-embedded-subscribe-form" class="validate" action="https://angularjswiki.us18.list-manage.com/subscribe/post?u=e192476b173f610e0808e2561&amp;id=236d3dbb17" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
<div id="mc_embed_signup_scroll">
<div class="mc-field-group"><label for="mce-FNAME">Name <span class="asterisk">*</span></label></div>
<div class="mc-field-group"><input id="mce-FNAME" class="required" name="FNAME" type="text" value="" /></div>
<div></div>
<div class="mc-field-group"><label for="mce-EMAIL">Email <span class="asterisk">*</span></label></div>
<div class="mc-field-group"><input id="mce-EMAIL" class="required email" name="EMAIL" type="email" value="" /></div>
<div></div>

</div>
<br/>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input tabindex="-1" name="b_e192476b173f610e0808e2561_236d3dbb17" type="text" value="" /></div>
<div class="clear">
        <button type="submit" class="btn btn-light btn-lg subscribe">
                <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z"/>
                                        
                                      </svg>
                </span> <label>Subscribe</label>
        </button>
    
    <!-- <input id="mc-embedded-subscribe" class="button" name="subscribe" type="submit" value="Subscribe" /></div> -->
</div>
</form>
</div>