{{ $root := . }}
{{$filePath := replace .File.Path "\\" "/"}}

{{with not .File.Path}}
<style>
    .elv-callout{
        background-color: black;
    font-size: 16px;
    color: white;
    font-family: monospace;
    padding: 5px;
    }

    .elv-callout a {
        color:white;
        font-style: italic;
        text-decoration: underline;
    }
</style>

<div class="elv-callout">
<p><a href="https://github.com/arungudelli/angularjswiki" target="_blank">⭐Please star Angular Wiki on GitHub! ↗</a> </p>
<p>❤️ This is an easy way to support our project. ❤️</p>
</div>
{{end}}


 
<style>

:root {
  --start-color: #0575E6;
  --end-color: #021B79;
  --p-color: #929DA6;
  --button-background: #0575E6;
  --input-background: #e4eff8;
  --radius-50: 50px;
  --padding-15: 15px;
}
.wrappers {
  padding-top: 5px;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrappers .content {
  background: #fff;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  border-radius: 10px;
  text-align: center;
}

.wrappers .content header h1 {
  font-size: 230%;
  margin-top: 0;
}
.wrappers .content section {
    color: inherit;
    font-size: 15px;
    padding-bottom: 5px;
}
.wrappers .content footer {
  padding: var(--padding-15);
}
.wrappers .content input {
  border: unset;
  background-color: var(--input-background);
  padding: 10px;
  font-size: 13px;
  border-radius: var(--radius-50);
  width: 250px;
}
.wrappers .content button {
    background-color: #2962ff;
    color: #fff;
    border: unset;
    width: 120px;
    border-radius: 50px;
    padding: 3px;
    margin-left: 10px;
    cursor: pointer;
}


.wrappers .content  a {
        color:black;
        font-style: italic;
        text-decoration: underline;
    }



.wrappers .content input:focus, .wrappers .content button:focus {
  outline: none;
}

.wrappers .content .link{
  padding:10px;
}


@media screen and (max-width: 720px) {
  .wrappers .content {
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding: var(--padding-15);
  }
  .wrappers .content input {
    width: 200px;
    margin-bottom: 10px;
  }
}
</style>


<!-- <a href="https://jobs.angularjswiki.com/browse-jobs/" target="_blank"><img width="750" height="372" src="{{.Site.BaseURL }}/img/Angular-Wiki-Jobs-ad-mini.png" alt="Angular Jobs"/></a> -->
{{with .File.Path}}



<section class="wrappers">
    <div class="content">
      <section class="link"><a href="https://github.com/arungudelli/angularjswiki" target="_blank">⭐Please star Angular Wiki on GitHub! ↗</a> </section>

      <section>Liked this post? Subscribe</section>
        <form action="https://angularjswiki.us18.list-manage.com/subscribe/post?u=e192476b173f610e0808e2561&amp;id=236d3dbb17" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">

        <input id="mce-EMAIL" type="email" placeholder="Enter your email" name="EMAIL">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input tabindex="-1" name="b_e192476b173f610e0808e2561_236d3dbb17" type="text" value="" /></div>

        <button type="submit">Let's go</button>
        </form>
    </div>
</section>
{{end}}

{{with .File.Path}}
<script src="https://giscus.app/client.js"
        data-repo="arungudelli/angularjswiki"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNzgxMjk2MDQ="
        data-category="Announcements"
        data-category-id="DIC_kwDOCp4KxM4CAonL"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>  
{{end}}