{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container-fluid docs">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 docs-sidebar">
            {{ partial "adsleft.html" }}
        </div>
        <div class="d-none d-xl-block col-xl-3 docs-toc">
            {{ partial "ads.html" }}
        </div>

<main class="col-12 col-md-9 col-xl-7 docs-content" role="main">

<article class="article">

  {{ partial "page_header.html" . }}
  
  <div class="article-container">

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>


    <!-- {{ partial "share_svg.html" .}} -->
    {{ partial "subscription.html" . }}
    {{ partial "tags.html" . }}

    {{ if ne .Type "page" }}
      {{ partial "page_author.html" . }}
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <div class="article-widget">
        <div class="hr-light"></div>
        <h3>{{ i18n "related" }}</h3>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    {{ end }}
    {{ if .Site.Params.section_pager }}
    <div class="article-widget">
      {{ partial "section_pager.html" . }}
    </div>
    {{ end }}

    {{ partial "comments.html" . }}

  </div>
</article>
</main>
</div>    
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
